<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
</head>
<body>

    <% if(kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
        <h1 style="color: green"><%= kindOfDay %> List</h1>
    <% } else { %>
        <h1 style="color: orange"><%= kindOfDay %> List</h1>
    <% } %>
    <ul>
        <% for(var i=0; i < todoListItems.length; i++) { %>
            <li>
                <%= todoListItems[i] %>
            </li>
        <% } %>
    </ul>
    <form action="/" method="post">
        <input type="text" name="newListItem" id="">
        <button type="submit" name="button">Add Item</button>
    </form>
    
</body>
</html>